<div class="col-16">
  <div id="mock-start" class="landing-block">
    <h1>Practice Practice Practice</h1>
    <div class="landing-center-wrap">
      <%= link_to "Start Mock!", new_mock_path, class: "btn btn-xlg btn-blue", remote: true %>
    </div>
  </div>
</div>