<div class="col-3"><%= render 'mock_tracker' %></div>
<div class="col-13 mock-main"><p>Click on the individual picks in the mock traker to customize your draft order and set picks that have already been chosen. When you are ready click begin</p><div class="btn btn-blue btn-lg">Begin</div></div>
