<div class="col-3"><%= render 'mock_tracker' %></div>
<div class="col-13 mock-main landing-block">
  <h1>Are you ready?</h1>
  <ul>
    <li>Click individual draft picks in mock tracker</li>
    <li>Customize the pick order</li>
    <li>Set any keepers</li>
    <li>Click begin</li>
    <li>DOMINATE YOUR LEAGUE!!!</li>
  </ul>
  <div class="center-wrap">
    <div id="mock-start" class="btn btn-blue btn-lg">Begin</div>
  </div>
</div>