.landing-block {
  height: 20em;
  background: #ccc;
  padding-top: 2em;
  
  .landing-center-wrap {
    width: 100%;
    text-align: center;
  }
  h1 {
    padding-bottom: .6em;
    text-align: center;
  }
}