.player-search-autocomplete {
  width: 88.5%;
  background: #fff;
  position: absolute;
  border: 1px #ccc solid;
  border-radius: 4px;
  margin-top: -3px;
  display: none;
  box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.75);
  ul {
    list-style-type: none;
    li{
      padding-left: .4em;
      &:hover {
        background: #cfc;
      }
    }
  }
}

.player-picker-item {
  cursor: pointer;
}

.highlight-subString {
  color: #a0a;
  font-weight: bold;
}