@import "mixins.scss";

.btn {
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.btn-sm {
  font-size: 1em;
  padding: .2em .8em;
  border-radius: .2em;
}

.btn-md {
  font-size: 1.3em;
  padding: .4em .8em;
  border-radius: .2em;
}

.btn-lg {
  font-size: 1.6em;
  padding: .4em 1em;
  border-radius: .3em;
}

.btn-xlg {
  font-size: 2em;
  border-radius: .5em;
  padding: .6em 1.5em;
}

.btn-blue {
  background: #00f;
}